<%- include('base/head') %>
<%- include('base/navbar') %>
<h1>first home page</h1>
<hr>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam, ut dolorum, dolore sequi ipsam quam nisi
    aspernatur, quae explicabo quidem optio id voluptatem debitis culpa consectetur eius modi facere dignissimos!
</p>

<h2><%= 'hello world'.toUpperCase() %></h2>
</body>

<%- include('base/footer') %>

</html>